body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif; 
    font-size: 1em;
    display: flex;
    height: 100%;
    background-color: #292929;

    --s: 84px; /* control the size */
    
    --c: #fff;
    --a:from -30deg at;
    background:
        linear-gradient(#0000 50%,#0004 0),
        conic-gradient(var(--a) 90%,var(--c) 240deg,#0000    0),
        conic-gradient(var(--a) 75%,#91734d  240deg,#0000    0),
        conic-gradient(var(--a) 25%,#0000    240deg,var(--c) 0),
        conic-gradient(var(--a) 40%,var(--c) 240deg,#d7918d  0);
    background-size: calc(1.5*var(--s)) var(--s);
}

header {
    padding: 0;
    margin: 0;
    background-color: white;
    width: fit-content;
    height: inherit;
    float: left;
    display: flow-root;
}

content {
    padding: 2.5rem;
    margin: 4rem;
    float: left;
    background-color: white;
    display: flow-root;
    width: 60%;
}

p {
    padding: 0;
    margin: 0;
}

header p {
    padding: 2.5rem;
    text-align: center;
}

header p pre {
    font-size: 2rem;
}

nav {
    margin: 0;
    padding: 0;
    width: initial;
}

nav hr {
    margin: 10px;
    border: 0.5px solid #ccc;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0.80em;
    margin: 0.80em 0;
    text-align: center;
    list-style: none;
    font-size: 0.9rem;
    color: #555;
}

nav ul li:hover {
    background-color: #004241;
    color: #fff;
    transition: 0.3s;
}

nav ul a {
    text-decoration: none;
    color: #555;
}

.container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.segment > * {
    margin: 47px 70px 47px 47px;
}

.segment > svg {
    margin-top: 48px;
}

.headers {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 39px;
    color: hsl(0, 0%, 95%);

    margin-top: -15px;
}

#sedans {
    background-color: #d7918d;
    margin-right: 10px;
}

#suvs {
    background-color: #91734d;
}

#luxury {
    background-color: #004241;
    margin-left: 10px;
}

.learn-btn {
    margin-top: 35px;
    height: 46px;
    width: 145px;

    border: none;

    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.learn-btn:hover{
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: transparent;
}

#sedans-btn {
    color: #d7918d;
}
#sedans-btn:hover {
    color: hsl(0, 0%, 95%);
}

#suvs-btn {
    color: #91734d;
}
#suvs-btn:hover {
    color: hsl(0, 0%, 95%);
}

#luxury-btn {
    color: #004241;
}
#luxury-btn:hover {
    color: hsl(0, 0%, 95%);
}

@media (max-width: 750px) {
    .container {
        grid-template-columns: 1fr;
        max-width: 325px;
    }

    .segment {
        height: 440px;
    }

    #sedans {
        border-radius: 10px 10px 0 0;
    }
    #luxury {
        border-radius: 0 0 10px 10px;
        margin-left: 0;
    }

    .description {
        margin-bottom: -10px;
    }
  }