body {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif; 
    font-size: 1em;
    display: flex;
    height: 100%;
    background-color: #292929;

    --s: 84px; /* control the size */
    
    --c: #fff;
    --a:from -30deg at;
    background:
        linear-gradient(#0000 50%,#0004 0),
        conic-gradient(var(--a) 90%,var(--c) 240deg,#0000    0),
        conic-gradient(var(--a) 75%,#91734d  240deg,#0000    0),
        conic-gradient(var(--a) 25%,#0000    240deg,var(--c) 0),
        conic-gradient(var(--a) 40%,var(--c) 240deg,#d7918d  0);
    background-size: calc(1.5*var(--s)) var(--s);
}

header {
    padding: 0;
    margin: 0;
    background-color: white;
    width: fit-content;
    height: inherit;
    float: left;
    display: flow-root;
}

content {
    padding: 2.5rem;
    margin: 4rem;
    float: left;
    background-color: white;
    display: flow-root;
    width: 70%;
}

p {
    padding: 0;
    margin: 0;
}

header p {
    padding: 2.5rem;
    text-align: center;
}

header p pre {
    font-size: 2rem;
}

nav {
    margin: 0;
    padding: 0;
    width: initial;
}

nav hr {
    margin: 10px;
    border: 0.5px solid #ccc;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 0.80em;
    margin: 0.80em 0;
    background-color: #91734d;
    text-align: center;
    list-style: none;
    font-size: 0.9rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}